<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
    <li class="mr-2">
        <%= link_to 'Devices', root_path(tab: DashboardController::DEVICES)%>
    </li>
    <li class="mr-2">
        <%= link_to 'Peripherals', root_path(tab: DashboardController::PERIPHERALS)%>
    </li>
</ul>
<div>
    <%= tabs(@tools)%>
</div>

