<h1>Editing peripheral</h1>

<%= render "form", peripheral: @peripheral %>

<br>

<div>
  <%= link_to "Show this peripheral", @peripheral %> |
  <%= link_to "Back to peripherals", peripherals_path %>
</div>
