<h1>Editing headquarter</h1>

<%= render "form", headquarter: @headquarter %>

<br>

<div>
  <%= link_to "Show this headquarter", @headquarter %> |
  <%= link_to "Back to headquarters", headquarters_path %>
</div>
